# Generic
*.o
*.swp
*~
tags
/build

# Autoconf
Makefile.in
/aclocal.m4
/autom4te.cache
/ar-lib
/compile
/config.guess
/config.h.in
/config.sub
/configure
/depcomp
/install-sh
/ltmain.sh
/m4
/missing

# Eclipse
.project
.cproject
.settings

# Python
*.pyc
__pycache__
